* {
  margin:0px;
  padding: 0px;

 }

.cf:before,
.cf:after {
 content:" ";
 display: table;
}

.cf:after{
  clear: both;
}
/* for IE 6/7 (trigger haslayout)*/

.clearfix{
  zoom:1;
}

.flex{
  max-width: 100%;
}
