* {
  margin:0px;
  padding: 0px;

 }

.cf:before,
.cf:after {
 content:" ";
 display: table;
}

.cf:after{
  clear: both;
}
/* for IE 6/7 (trigger haslayout)*/

.clearfix{
  zoom:1;
}

.flex{
  max-width: 100%;
}

body {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  height: 100%;
}

#top-sec {
  width: 100%;
  height: 7em;
  background: #295BE3;
}

#facelook {
  float: left;
  font-size: 150%;
  color: white;
  width: 11.6%;
  margin: 1em 0 1em 2em;
}



#first-form-container {
  float: right;
  width: 26em;
  margin: 2.3em 0;
}


#top-form-button {
  width: 4em;
  cursor: pointer;
}



#text-sec {
float: left;
text-align: center;
width: 52%;
margin-top: 5em;
line-height: 3em;
}


#text-sec-head {
  font-size: 170%;
  text-align: left;
  margin-left: 20%;
}


#text-sec li {
  list-style-type: none;
}




#form-sec {
  margin-top: 4em;
  float: right;
  width: 46%;
}

#form-box {
  width: 24em;
  margin: 0 auto;
}


#form-header {
  width: 8.1em;
  font-size: 170%;
  margin-left: 6em;
  margin-bottom: 1em;
}


.names {
 width: 48%;
}


.wide-forms {
  width: 97.5%;
}


#radio-submit-buttons {
  width: 24em;
  margin: 0 auto;
}


#male {
  margin-right: 2em;
}



#big-submit-button {
 width: 16em;
 height: 3em;
 background: #255D25;
 color: white;
 cursor: pointer;
}
